* {
  box-sizing: border-box;
  font-size: 1.05em;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.tip-container {
  box-shadow: 0px 0px 5px 3px rgb(136, 128, 128);
  padding: 15px;
  margin: auto;
  width: 75%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  text-align: center;
  font-size: 2em;
}

button {
  padding: 10px;
  background-color: rgb(37, 153, 37);
  color: aliceblue;
  border: none;
}

button:hover {
  background-color: rgb(10, 99, 10);
  color: bisque;
}

button:active {
  outline: 2px rgb(255, 9, 9) solid;
}
